
<div class="container">
    <h1 class="d-flex p-text-center title-name" >Cadastro de Cargos</h1>
  <div class="p-m-lg-5 ">
    <div class="p-d-flex p-jc-end">
      <button pButton type="button" class="p-mb-2" (click)="newEntity()"> Novo</button>
    </div>

    <p-table [value]="cargos" [paginator]="true" [rows]="5">
      <ng-template pTemplate="header">
        <tr>
          <th>Código</th>
          <th>Descrição</th>
          <th>Ações</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-cargo>
        <tr>
          <td>{{cargo.id}}</td>
          <td>{{cargo.descricao}}</td>
          <td class="p-d-flex p-flex-column ">
            <button class="p-mb-2" pButton type="button" style="max-width: 100px"  (click)="edit(cargo)">
              Editar
            </button>
            <button pButton type="button" style="max-width: 100px"  (click)="delete(cargo)">
              Remover
            </button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="8" class="p-text-center">Nenhum cargo cadastrado</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <p-confirmDialog></p-confirmDialog>
<!--  <p-growl [(value)]="msgs"></p-growl>-->

  <p-dialog [style]="{width: '700px'}" header="Cadastro" [(visible)]="showDialog" modal="modal"
            [responsive]="true" >
    <div class="row">
      <div class="ui-g-12 ui-fluid  ">
            <span class="p-float-label p-mb-3 p-mt-3">
                <input   required="true" pInputText id="descricao" name="descricao" type="text" [(ngModel)]="cargoEdit.descricao">
                <label for="descricao">Descrição</label>
            </span>
      </div>
    </div>
    <p-footer>
      <button pButton type="button" class="p-ml-2" (click)="cancel()">Cancelar</button>
      <button pButton type="button" class="p-ml-2" (click)="save()">Salvar</button>
    </p-footer>
  </p-dialog>
</div>
