<div class="p-grid " >
  <div class="p-card  p-shadow-5 p-col-6 p-offset-3" >
      <div class="p-fluid">
        <div class="p-field">
          <label for="username" >Usuário</label>
          <input id="username" type="text" pInputText [(ngModel)]="username">
        </div>
        <div class="p-field">
          <label for="password" class="p-col-fixed" >Senha</label>
          <p-password id='password'[(ngModel)]="password" [toggleMask]="true" [feedback]="false" (keyup.enter)="login()"></p-password>
        </div>
      </div>
      <div class="p-d-flex p-jc-end p-mt-5">
        <button pButton type="button" class="p-mb-2" (click)="login()"> login</button>
      </div>
  </div>
</div>
<p-toast position="top-center"></p-toast>
