<div class="container">
  <h1 class="d-flex">Cadastro de Etapas</h1>
  <button class="btn btn-primary" (click)="newEntity()"> Novo</button>

  <p-table [value]="etapas" [paginator]="true" [rows]="5">
    <ng-template pTemplate="header">
      <tr>
        <th>Código</th>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Status</th>
        <th>Responsável</th>
        <th>Ações</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-etapa>
      <tr>
        <td>{{etapa.id}}</td>
        <td>{{etapa.nome}}</td>
        <td>{{etapa.descricao}}</td>
        <td>{{etapa.status}}</td>
        <td>{{etapa.responsavel.nome}}</td>
        <td>
          <button type="button" class="btn btn-dark" (click)="edit(etapa)">
            Editar
          </button>

          <button type="button" class="btn btn-danger" (click)="delete(etapa)">
            Remover
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-confirmDialog></p-confirmDialog>
<!--  <p-growl [(value)]="msgs"></p-growl>-->

  <p-dialog header="Cadastro" [(visible)]="showDialog" modal="modal"
            [responsive]="true" >
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="nome">Nome</label>
          <input type="text" id="nome" name="nome" class="form-control"
                 [(ngModel)]="etapaEdit.nome">
        </div>
      </div>
    </div>
    <p-footer>
      <button type="button" class="btn btn-default" (click)="cancel()">Cancelar</button>
      <button type="button" class="btn btn-success" (click)="save()">Salvar</button>
    </p-footer>
  </p-dialog>
</div>
