<div class="board">

  <div class="board-bar">
    <p class="board-name">QUADRO SCRUM</p>
  </div>
  <div  class="p-mt-2 p-d-flex p-jc-end">
    <button pButton type="button" class="p-ml-2" (click)="gerarRelatorio()">Gerar Relatório</button>
  </div>
  <div class="board-filters">
    <div class="p-d-flex p-jc-between">
      <div class="p-d-flex">
        <p-dropdown #projetoDrop class="p-d-block" appendTo="body" class="p-d-block p-mr-4" [style]="{width: '200px'}"
                     placeholder="Projeto" [options]="projetos" optionLabel="nome" [(ngModel)]="selectedProjeto" [showClear]="true"></p-dropdown>
        <p-dropdown class="p-d-block" appendTo="body" class="p-d-block p-ml-4 p-mr-4" [style]="{width: '200px'}"
                    placeholder="Sprint" [options]="sprints" optionLabel="nome" [(ngModel)]="selectedSprint" [showClear]="true" ></p-dropdown>
        <p-dropdown class="p-d-block" appendTo="body" class="p-d-block p-ml-4 p-mr-4" [style]="{width: '200px'}"
                    placeholder="Responsável" [options]="responsaveis" optionLabel="nome" [(ngModel)]="selectedResponsavel" [showClear]="true" ></p-dropdown>
      </div>


     <div  class="p-mt-2">
        <p-button  class="p-mr-2" label="Limpar Filtros" icon="pi pi-times" (click)="limparFiltros()"></p-button>
        <p-button label="Pesquisar" icon="pi pi-search" (click)="findSolicitacoesFiltrado(selectedProjeto?.id, selectedSprint?.id, selectedResponsavel?.id)"></p-button>
     </div>
    </div>
  </div>

  <div class="board-wrapper">

    <div class="board-columns" cdkDropListGroup>
      <div class="board-column">
        <div class="column-title" [ngStyle]="{backgroundColor:'var(--blue-600)'}" >
         BACKLOG
        </div>
        <div class="tasks-container"
             id="Backlog"
             cdkDropList
             [cdkDropListData]="solicitacoesBacklog"
             (cdkDropListDropped)="drop($event)">
          <p-card *ngFor="let solicitacao of solicitacoesBacklog" cdkDrag
                  header={{solicitacao.nome}} subheader={{solicitacao.descricao}}
                  [style]="{width: '240px'}" styleClass="p-card p-mb-5" >
            <p>Etapa: {{solicitacao.etapa.nome}}</p>
            <div class="p-d-flex">
              <p class="p-mr-1" >Responsável: </p>
              <p class="" *ngIf="solicitacao.responsavel">{{solicitacao.responsavel.nome}}</p>
            </div>
            <ng-template pTemplate="footer"  >
              <div class="p-d-flex p-jc-between">
                <div><p-button  icon="pi pi-eye"  (click)="edit(solicitacao)"></p-button></div>
                <div class="p-d-flex p-flex-column p-text-right">
                  <div class="fontemenor p-mt-sm-1 "><p class="p-m-auto">Projeto: {{solicitacao.projeto.id}}</p></div>
                  <div class="fontemenor"><p class="p-m-auto">Sprint: {{solicitacao.sprint.nome}}</p></div>
                </div>
              </div>
            </ng-template>
          </p-card>
        </div>
      </div>
      <div class="board-column">
        <div class="column-title" [ngStyle]="{backgroundColor:'var(--purple-600)'}">
          TO DO
        </div>
        <div class="tasks-container"
             cdkDropList
             id="To Do"
             [cdkDropListData]="solicitacoesTodo"
             (cdkDropListDropped)="drop($event)">
          <p-card *ngFor="let solicitacao of solicitacoesTodo" cdkDrag
                  header={{solicitacao.nome}} subheader={{solicitacao.descricao}}
                  [style]="{width: '240px'}" styleClass="p-card p-mb-5" >
            <p>Etapa: {{solicitacao.etapa.nome}}</p>
            <div class="p-d-flex">
              <p class="p-mr-1" >Responsável: </p>
              <p class="" *ngIf="solicitacao.responsavel">{{solicitacao.responsavel.nome}}</p>
            </div>
            <ng-template pTemplate="footer"  >
              <div class="p-d-flex p-jc-between">
                <div><p-button  icon="pi pi-eye"  (click)="edit(solicitacao)"></p-button></div>
                <div class="p-d-flex p-flex-column p-text-right">
                  <div class="fontemenor p-mt-sm-1 "><p class="p-m-auto">Projeto: {{solicitacao.projeto.id}}</p></div>
                  <div class="fontemenor"><p class="p-m-auto">Sprint: {{solicitacao.sprint.nome}}</p></div>
                </div>
              </div>
            </ng-template>
          </p-card>
        </div>
      </div>
      <div class="board-column">
        <div class="column-title" [ngStyle]="{backgroundColor:'var(--yellow-600)'}">
          DOING
        </div>
        <div class="tasks-container"
             id="Doing"
             cdkDropList
             [cdkDropListData]="solicitacoesDoing"
             (cdkDropListDropped)="drop($event)">
          <p-card *ngFor="let solicitacao of solicitacoesDoing" cdkDrag
                  header={{solicitacao.nome}} subheader={{solicitacao.descricao}}
                  [style]="{width: '240px'}" styleClass="p-card p-mb-5" >
            <p>Etapa: {{solicitacao.etapa.nome}}</p>
            <div class="p-d-flex">
              <p class="p-mr-1" >Responsável: </p>
              <p class="" *ngIf="solicitacao.responsavel">{{solicitacao.responsavel.nome}}</p>
            </div>
            <ng-template pTemplate="footer"  >
              <div class="p-d-flex p-jc-between">
                <div><p-button  icon="pi pi-eye"  (click)="edit(solicitacao)"></p-button></div>
                <div class="p-d-flex p-flex-column p-text-right">
                  <div class="fontemenor p-mt-sm-1 "><p class="p-m-auto">Projeto: {{solicitacao.projeto.id}}</p></div>
                  <div class="fontemenor"><p class="p-m-auto">Sprint: {{solicitacao.sprint.nome}}</p></div>
                </div>
              </div>
            </ng-template>
          </p-card>
        </div>
      </div>
      <div class="board-column">
        <div class="column-title" [ngStyle]="{backgroundColor:'var(--orange-600)'}">
          TEST
        </div>
        <div class="tasks-container"
             id="Test"
             cdkDropList
             [cdkDropListData]="solicitacoesTest"
             (cdkDropListDropped)="drop($event)">
          <p-card *ngFor="let solicitacao of solicitacoesTest" cdkDrag
                  header={{solicitacao.nome}} subheader={{solicitacao.descricao}}
                  [style]="{width: '240px'}" styleClass="p-card p-mb-5" >
            <p>Etapa: {{solicitacao.etapa.nome}}</p>
            <div class="p-d-flex">
              <p class="p-mr-1" >Responsável: </p>
              <p class="" *ngIf="solicitacao.responsavel">{{solicitacao.responsavel.nome}}</p>
            </div>
            <ng-template pTemplate="footer"  >
              <div class="p-d-flex p-jc-between">
                <div><p-button  icon="pi pi-eye"  (click)="edit(solicitacao)"></p-button></div>
                <div class="p-d-flex p-flex-column p-text-right">
                  <div class="fontemenor p-mt-sm-1 "><p class="p-m-auto">Projeto: {{solicitacao.projeto.id}}</p></div>
                  <div class="fontemenor"><p class="p-m-auto">Sprint: {{solicitacao.sprint.nome}}</p></div>
                </div>
              </div>
            </ng-template>
          </p-card>
        </div>
      </div>
      <div class="board-column">
        <div class="column-title" [ngStyle]="{backgroundColor:'var(--green-600)'}">
          DONE
        </div>
        <div class="tasks-container"
             id="Done"
             cdkDropList
             [cdkDropListData]="solicitacoesDone"
             (cdkDropListDropped)="drop($event)">
          <p-card *ngFor="let solicitacao of solicitacoesDone" cdkDrag
                  header={{solicitacao.nome}} subheader={{solicitacao.descricao}}
                  [style]="{width: '240px'}" styleClass="p-card p-mb-5" >
            <p>Etapa: {{solicitacao.etapa.nome}}</p>
            <div class="p-d-flex">
              <p class="p-mr-1" >Responsável: </p>
              <p class="" *ngIf="solicitacao.responsavel">{{solicitacao.responsavel.nome}}</p>
            </div>
            <ng-template pTemplate="footer"  >
              <div class="p-d-flex p-jc-between">
                <div><p-button  icon="pi pi-eye"  (click)="edit(solicitacao)"></p-button></div>
                <div class="p-d-flex p-flex-column p-text-right">
                  <div class="fontemenor p-mt-sm-1 "><p class="p-m-auto">Projeto: {{solicitacao.projeto.id}}</p></div>
                  <div class="fontemenor"><p class="p-m-auto">Sprint: {{solicitacao.sprint.nome}}</p></div>
                </div>
              </div>
            </ng-template>
          </p-card>
        </div>
      </div>

    </div>

  </div>

</div>

<p-dialog [style]="{width: '700px'}" header="Cadastro" [(visible)]="showDialog" modal="modal" [responsive]="true">
  <div class="row">
    <div class="ui-g-12 ui-fluid">
            <span class="p-float-label p-mb-3 p-mt-3">
                <input required="true" pInputText id="nome" name="nome" type="text" [(ngModel)]="solicitacaoEdit.nome" style="width:350px">
                <label for="nome">Nome</label>
            </span>
    </div>
    <div class="ui-g-12 ui-fluid">
            <span class="p-float-label p-mb-3">
                <textarea rows="5" cols="30" pInputTextarea id="descricao" name="descricao" [(ngModel)]="solicitacaoEdit.descricao" style="width:350px"></textarea>
                <label for="descricao">Descrição</label>
            </span>
    </div>
    <div class="ui-g-12 ui-fluid">
      <label class="p-d-block" for="dataInicio">Data Início</label>
      <p-calendar required appendTo="body" class="p-d-block" id="dataInicio" [showIcon]="true"  dateFormat="dd/mm/yy"  [(ngModel)]="solicitacaoEdit.dataInicio" ></p-calendar>
    </div>
    <div class="ui-g-12 ui-fluid">
      <label class="p-d-block" for="dataFim">Data Fim</label>
      <p-calendar #cal  appendTo="body" class="p-d-block" id="dataFim" [showIcon]="true" dateFormat="dd/mm/yy"  [(ngModel)]="solicitacaoEdit.dataFim"></p-calendar>
    </div>
    <div class="ui-g-12 ui-fluid p-mb-3">
      <label class="p-d-block"for="status">Status</label>
      <p-dropdown appendTo="body" class="p-d-block"  [options]="statuss" [(ngModel)]="solicitacaoEdit.status" name="status" id="status"></p-dropdown>
    </div>
    <div class="ui-g-12 ui-fluid" >
      <label class="p-d-block" >Projeto</label>
      <p-dropdown class="p-d-block" appendTo="body" class="p-d-block"  [options]="projetos" [(ngModel)]="solicitacaoEdit.projeto" optionLabel="nome"></p-dropdown>
    </div>
    <div class="ui-g-12 ui-fluid" >
      <label class="p-d-block" >Sprint</label>
      <p-dropdown class="p-d-block" appendTo="body" class="p-d-block"  [options]="sprints" [(ngModel)]="solicitacaoEdit.sprint" optionLabel="nome"></p-dropdown>
    </div>
    <div class="ui-g-12 ui-fluid" >
      <label class="p-d-block" >Etapa</label>
      <p-dropdown class="p-d-block" appendTo="body" class="p-d-block"  [options]="etapas" [(ngModel)]="solicitacaoEdit.etapa" optionLabel="nome"></p-dropdown>
    </div>
    <div class="ui-g-12 ui-fluid" >
      <label class="p-d-block" >Responsavel</label>
      <p-dropdown class="p-d-block" appendTo="body" class="p-d-block"  [options]="responsaveis" [(ngModel)]="solicitacaoEdit.responsavel" optionLabel="nome"></p-dropdown>
    </div>
  </div>

  <p-footer>
    <button pButton type="button" class="p-ml-2" (click)="cancel()">Cancelar</button>
    <button pButton type="button" class="p-ml-2" (click)="save()">Salvar</button>
  </p-footer>
</p-dialog>



<div #gerarPdf></div>
