p {
  word-break: break-all;
  white-space: normal;
}
tr{
  word-break: break-all;
  white-space: normal;
}
p-card{
  word-break: break-all;
  white-space: normal;
}

.board {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  min-width: 0;
  min-height: 0;
}

  .board-bar {
    background: rgba(0, 0, 0.5, 0);
    padding: 8px 15px;
    text-align: center;

  }

  .board-name {
    font-size: 40px;
    font-weight: bold;
    color: white;
    font-family: Calibri;
    margin-left: auto;
    margin-right: auto;
  }
  .board-filters{
    margin-left: 50px;
  }

  .board-wrapper {
    display: flex;
    flex-grow: 1;
    overflow-x: auto;
  }

  .board-columns {
     display: flex;
     flex-grow: 1;
   }

    .board-column {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      flex-basis: 0;
      margin: 30px;
      padding: 25px;
      border-radius: 4px;
      background-color: gray;
    }

  .column-title {
    font-size: 20px;
    font-weight: 800;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: white;
    text-align: center;
  }

.tasks-container {
  flex-grow: 1;
  overflow-y: auto;
  min-width: 240px;
}

.task {
  font-family: Calibri;
  display: flex;
  padding: 15px 12px;
  background: white;
  border-bottom: solid 1px #ddd;
  border-radius: 4px;

  margin-bottom: 15px;

  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.05),
  0 3px 14px 2px rgba(0, 0, 0, 0.05);
}

.fontemenor{
  font-size: smaller;
  padding: 0;
  margin: 0;
}

