.title-name {
  font-size: 40px;
  font-weight: bold;
  color: white;
  font-family: Calibri;
  margin-left: auto;
  margin-right: auto;
}

::ng-deep .projetosStyle .ui-datatable-scrollable-view .ui-datatable-scrollable-body {
  min-height: 27vh;
}
tr{
  word-break: break-all;
  white-space: normal;
}

