.title-name {
  font-size: 40px;
  font-weight: bold;
  color: white;
  font-family: Calibri;
  margin-left: auto;
  margin-right: auto;
}

.p-inputtext {
  width: 90% !important;
}

.p-calendar p-calendar-w-btn{
  width: 90% !important;
}
