<div class="container">
  <h1 class="d-flex p-text-center title-name" >Usuários Cadastrados</h1>
  <div class="p-m-lg-5 ">
    <div class="p-d-flex p-jc-end">
      <button pButton type="button" class="p-mb-2" (click)="newEntity()"> Novo</button>
    </div>

    <p-table [value]="usuarios" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5,10,15,20]">
      <ng-template pTemplate="header">
        <tr>
          <th>Código</th>
          <th>Nome</th>
          <th>Cargo</th>
          <th>Ações</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-usuario>
        <tr>
          <td>{{usuario.id}}</td>
          <td>{{usuario.nome}}</td>
          <td>{{usuario.cargo.descricao}}</td>
          <td class="p-d-flex p-flex-column ">
            <button class="p-mb-2" pButton type="button" style="max-width: 100px"  (click)="edit(usuario)">
              Editar
            </button>
            <button pButton type="button" style="max-width: 100px"  (click)="delete(usuario)">
              Remover
            </button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="8" class="p-text-center">Nenhum cargo cadastrado</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <p-confirmDialog></p-confirmDialog>
  <p-toast></p-toast>

  <p-dialog [style]="{width: '700px'}" header="Cadastro" [(visible)]="showDialog" modal="modal"
            [responsive]="true" >
    <div class="row">
      <div class="ui-g-12 ui-fluid">
            <span class="p-d-flex p-flex-column p-mb-3 p-mt-3">
              <label for="nome">Nome</label>
              <input required="true" pInputText id="nome" name="nome" type="text" [(ngModel)]="usuarioEdit.nome" style="width:350px">
            </span>
      </div>
      <div class="ui-g-12 ui-fluid">
            <span class="p-d-flex p-flex-column p-mb-3 p-mt-3">
              <label for="username">Login</label>
              <input required="true" pInputText id="username" name="username" type="text" [(ngModel)]="usuarioEdit.username" style="width:350px">
            </span>
      </div>
      <div class="ui-g-12 ui-fluid">
            <span class="p-d-flex p-flex-column p-mb-3 p-mt-3">
              <label for="password">Senha</label>
                <p-password class="p-mt-2" id='password'[(ngModel)]="usuarioEdit.password" [toggleMask]="true" [feedback]="false"></p-password>
            </span>
      </div>


      <div class="ui-g-12 ui-fluid" >
        <label class="p-d-block" >Cargo</label>
        <p-dropdown class="p-d-block p-mt-1" appendTo="body" class="p-d-block"  [options]="cargos" [(ngModel)]="usuarioEdit.cargo" optionLabel="descricao"
                    [style]="{'width':'350px'}"></p-dropdown>
      </div>
      <div class="ui-g-12 ui-fluid p-mt-3" >
        <label class="p-d-block" >Adicionar Permissão</label>
        <div class="p-d-flex p-mt-1">
          <p-dropdown  class="p-d-block" appendTo="body" class="p-d-block"  [options]="permissoes" [(ngModel)]="selectedPermissao" optionLabel="nome"
                      [style]="{'width':'350px'}"></p-dropdown>
          <button class="p-ml-3 " icon="pi pi-plus-circle" pButton type="button" (click)="addPermissao(selectedPermissao)" ></button>
        </div>
      </div>
    </div>
    <div class="row p-mt-5">
      <label class="p-d-block p-mb-2" >Permissões do usuário:</label>
      <p-table [value]="usuarioEdit.permissoes" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5,10,15,20]">
        <ng-template pTemplate="header">
          <tr>
            <th>Código</th>
            <th>Permissão</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-permissao>
          <tr>
            <td>{{permissao.id}}</td>
            <td>{{permissao.nome}}</td>
            <td>
              <button pButton type="button" class="p-ml-2" (click)="deletePermissao(permissao)">
                Remover
              </button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="8" class="p-text-center">Nenhuma permissao cadastrada</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <p-footer>
      <button pButton type="button" class="p-ml-2" (click)="cancel()">Cancelar</button>
      <button pButton type="button" class="p-ml-2" (click)="save()">Salvar</button>
    </p-footer>
  </p-dialog>
</div>
