<div class="container">
  <h1 class="d-flex p-text-center" [ngStyle]="{'color':'blue'}" >Cadastro de Solicitações</h1>
  <div class="p-d-flex p-jc-end">
    <button pButton type="button" class="p-mb-2" (click)="newEntity()"> Novo</button>
  </div>


  <p-table #dt [value]="solicitacoes" [paginator]="true" [rows]="5"
           [rowsPerPageOptions]="[5,10,20]"
           [lazy]="true" [totalRecords]="totalRecords"
           (onLazyLoad)="lazyLoad($event)">
    <ng-template pTemplate="header">
      <tr>
        <th>Código</th>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Data Início</th>
        <th>Data Fim</th>
        <th>Status</th>
        <th>Projeto</th>
        <th>Sprint</th>
        <th>Etapa</th>
        <th>Responsável</th>
        <th>Ações</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-solicitacao>
      <tr>
        <td>{{solicitacao.id}}</td>
        <td>{{solicitacao.nome}}</td>
        <td>{{solicitacao.descricao}}</td>
        <td>{{solicitacao.dataInicio | date: 'dd/MM/yyyy'}}</td>
        <td>{{solicitacao.dataFim | date: 'dd/MM/yyyy'}}</td>
        <td>{{solicitacao.status}}</td>
        <td>{{solicitacao?.projeto?.nome || '-'}}</td>
        <td>{{solicitacao?.sprint?.nome || '-'}}</td>
        <td>{{solicitacao.etapa.nome}}</td>
        <td>{{solicitacao?.responsavel?.nome || '-'}}</td>
        <td>
          <button pButton type="button" (click)="edit(solicitacao)">
            Editar
          </button>

          <button pButton type="button" class="p-ml-2" (click)="delete(solicitacao)">
            Remover
          </button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8" class="p-text-center">Nenhuma solicitação cadastrada</td>
      </tr>
    </ng-template>
  </p-table>

  <p-confirmDialog></p-confirmDialog>
  <!--  <p-growl [(value)]="msgs"></p-growl>-->

  <p-dialog header="Cadastro" [(visible)]="showDialog" modal="modal" [responsive]="true">
    <div class="row">
      <div class="ui-g-12 ui-fluid">
            <span class="p-float-label p-mb-3 p-mt-3">
                <input required="true" pInputText id="nome" name="nome" type="text" [(ngModel)]="solicitacaoEdit.nome">
                <label for="nome">Nome</label>
            </span>
      </div>
      <div class="ui-g-12 ui-fluid">
            <span class="p-float-label p-mb-3">
                <textarea rows="5" cols="30" pInputTextarea id="descricao" name="descricao" [(ngModel)]="solicitacaoEdit.descricao"></textarea>
                <label for="descricao">Descrição</label>
            </span>
      </div>
      <div class="ui-g-12 ui-fluid">
        <label class="p-d-block" for="dataInicio">Data Início</label>
        <p-calendar required appendTo="body" class="p-d-block" id="dataInicio" [showIcon]="true"  dateFormat="dd/mm/yy"  [(ngModel)]="solicitacaoEdit.dataInicio"></p-calendar>
      </div>
      <div class="ui-g-12 ui-fluid">
        <label class="p-d-block" for="dataFim">Data Fim</label>
        <p-calendar #cal  appendTo="body" class="p-d-block" id="dataFim" [showIcon]="true" dateFormat="dd/mm/yy"  [(ngModel)]="solicitacaoEdit.dataFim"></p-calendar>
      </div>
      <div class="ui-g-12 ui-fluid p-mb-3">
        <label class="p-d-block"for="status">Status</label>
        <p-dropdown appendTo="body" class="p-d-block"  [options]="statuss" [(ngModel)]="solicitacaoEdit.status" name="status" id="status"></p-dropdown>
      </div>
      <div class="ui-g-12 ui-fluid" >
        <label class="p-d-block" >Projeto</label>
        <p-dropdown class="p-d-block" appendTo="body" class="p-d-block"  [options]="projetos" [(ngModel)]="solicitacaoEdit.projeto" optionLabel="nome"></p-dropdown>
      </div>
      <div class="ui-g-12 ui-fluid" >
        <label class="p-d-block" >Sprint</label>
        <p-dropdown class="p-d-block" appendTo="body" class="p-d-block"  [options]="sprints" [(ngModel)]="solicitacaoEdit.sprint" optionLabel="nome"></p-dropdown>
      </div>
      <div class="ui-g-12 ui-fluid" >
        <label class="p-d-block" >Etapa</label>
        <p-dropdown class="p-d-block" appendTo="body" class="p-d-block"  [options]="etapas" [(ngModel)]="solicitacaoEdit.etapa" optionLabel="nome"></p-dropdown>
      </div>
      <div class="ui-g-12 ui-fluid" >
        <label class="p-d-block" >Responsavel</label>
        <p-dropdown class="p-d-block" appendTo="body" class="p-d-block"  [options]="responsaveis" [(ngModel)]="solicitacaoEdit.responsavel" optionLabel="nome"></p-dropdown>
      </div>
    </div>

    <p-footer>
      <button pButton type="button" class="p-ml-2" (click)="cancel()">Cancelar</button>
      <button pButton type="button" class="p-ml-2" (click)="save()">Salvar</button>
    </p-footer>
  </p-dialog>
</div>
