<div class="p-d-flex p-jc-center p-mt-5">
  <p-card header="Minhas solicitações" [style]="{'width': '600px', 'margin-bottom': '2em',
                                                 'background-color': 'transparent', 'border': '2px solid #5e636b',
                                                 'color':'#5e636b'}" >
    <ng-template pTemplate="header">
    </ng-template>
    <p-chart type="doughnut" [data]="data" [options]="chartOptions" [style]="{'width': '40%', 'color':'blue'}"></p-chart>
  </p-card>
  <div class="p-ml-5 fonte">
    <h1 class="p-m-0">{{projetosAtivos}} Projetos ativos </h1>
    <hr class="linha">
    <h1 class="p-m-0">{{sprintsAtivos}} Sprints ativas</h1>
    <hr class="linha">
  </div>
</div>




